VITE_SUPABASE_URL=https://hbzpzkhcvakuoxhsavwq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhienB6a2hjdmFrdW94aHNhdndxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc3MTM4MjcsImV4cCI6MjA4MzI4OTgyN30.063qAYN-mPckHchS8sg9fCo1jZBRsKOfFlpXdQXzWVQ